<div class="row" style="padding: 20px">
  <div class="col-md-12">
    <h1>MovieTime</h1>
  </div>
</div>
<form>
  <div class="row header-row">
    <div class="col-md-12">
      <div id="search">
        <input type="text" onkeydown="if (event.keyCode == 13) { document.getElementById('search-btn').click(); return false }" class="search-query" id="search-field" placeholder="Search">
        <button type="button" id="search-btn" class="btn btn-primary btn-lg">Search</button>
      </div>
    </div>
  </div>
</form>
<div class="row header-row">
  <div class="col-md-12">
    <div>
      <button id="favorite-list" class="btn btn-warning btn-lg">Favorites</button>
    </div>
  </div>
</div>
<div class="row header-row">
  <div class="col-md-12">
    <div>
      <button id="clear-favorites" class="btn btn-danger btn-lg">Clear Favorites</button>
    </div>
  </div>
</div>

<div id="search-results"></div>
