<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- MovieTime CSS -->
    <link rel="stylesheet" href="/css/movie-time.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Index JS -->
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
